@{
    ViewData["Title"] = "Elysium REST API";
}
<div class="row">   
    <div class="col-md-4">
        <h3>Hi from Elysium REST API</h3>
        This project provide REST API for education purpose.
        <ul>
            <li><a href="/swagger">API Documentation (Swagger)</a></li>
        </ul>        
    </div>  
</div>
